@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="container" style="max-width:800px;margin:0 auto;margin-top:50px;margin-bottom: 50px;">
            <h1 style="margin-bottom:50px;font-size:28px;">Bootstrap simple datepicker example</h1>
            <div class="row">
                <div class="form-group">
                    <label>Date of Birth:</label>
                    <input type="text" id="example1" class="form-control" placeholder="Click to show the datepicker">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
