@{
    ViewBag.Title = "Home Page";
}



<div class="row">
  

    <input type="button" value="Click me" id="hellobtn" class="btn btn-danger" />
    <p>Date: <input type="text" id="datepicker"></p>
</div>

<p>Date: <input type="text" id="datepicker"></p>


@section scripts {
    <script src="~/Scripts/firstnotify.js"></script>
}