@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
   @*<img src="~/Content/img/fitness.jpg" style="height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;"/>*@
</div>

<div class="row">

    
    <div class="bgimg"></div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/style.css")
}